@import "/src/components/homepage.scss";

$input-size: 1.78rem;
$input-icon: 2rem;
$input-padding: 1.2rem;
$input-placeholder: 2rem;

.toolbar-search-font {
    border-right: 1px solid $border-color;
}

.search-icon {
    font-size: $input-icon;
}

.search-input {
    padding: $input-padding 0;
    border: 0;
    outline: none;
    width: 100%;
    font-size: $input-size;
}