@import "/src/components/homepage.scss";

$toolbar-radius: 3rem;
$toolbar-height: 5.8rem;

$toolbar-div-padding: 1.6rem;

.toolbar-item-input {
    display: flex;
    align-items: center;
    padding: 0 $toolbar-div-padding;
    gap: 1.1rem;
    font-weight: 600;
}

.toolbar-section {
    background-color: brown;
    width: 100%;
}

.toolbar {
    margin-top: $margin-small-height;
    display: grid;
    grid-template-columns: .5fr 1fr;
    border: 1px solid $border-color;
    border-radius: $toolbar-radius;
    height: $toolbar-height;
    color: $dark-gray;
}