@import '/src/components/homepage.scss';

.fontcard-container {
    max-width: 100%;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    gap: 2rem;
    margin-bottom: $margin-medium-height;
}

.font-card {
    border: 1px solid $border-color;
    text-align: left;
    min-height: 22rem;
    border-radius: .8rem;
    padding: 1rem 1rem 0rem 1rem;
    height: auto;
    word-break: break-all;
    color: $dark-gray;


    &_name {
        line-height: 0;
        font-size: 1.45rem;
    }

    &_owner {
        font-size: 1.1rem;
        color: #7c7c7e;
        font-weight: 600;
        letter-spacing: .4px;
        line-height: 1rem;
    }

    &_text {
        margin-top: 6rem;
        margin-bottom: 4rem;
    }
}

@media(max-width: 1238px) {
    .fontcard-container {
        grid-template-columns: repeat(2, 1fr);
    }
}