@import '/src/components/homepage.scss';

.fontcard-container {
    max-width: 100%;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    gap: 2.2rem;
    margin-bottom: $margin-medium-height;
}

.font-card {
    overflow: hidden;
    border: 1px solid $border-color;
    text-align: left;
    min-height: 25rem;
    border-radius: .8rem;
    padding: 1rem 1rem 0rem 1rem;
    height: auto;
    word-wrap: break-word;
    // word-break: break-all;
    color: $dark-gray;
    cursor: pointer;


    &_name {
        line-height: 0;
        font-size: 1.9rem;
        font-weight: 400;
    }

    &_owner {
        font-size: 1.4rem;
        color: #7c7c7e;
        font-weight: 600;
        letter-spacing: .3px;
        line-height: 1.8rem;
    }

    &_text {
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    &:hover {
        transition: $transition-ease;
        transform: scale(1);
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

@media(max-width: 1238px) {
    .fontcard-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 720px) {
    .fontcard-container {
        grid-template-columns: 1fr;
    }
}