@import "/src/components/homepage.scss";

$header-size: 6.5rem;
$nav-font-size: 1.6rem;
$nav-link-width: 12rem;
$header-icon-size: 1.8rem;
$header-icon-padding-size: 4.2rem;

.header-container {
    border-bottom: 1px solid $border-color;
    height: $header-size;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 $main-margin-ends;
}

.header-logo {
    color: $dark-gray;
}

.header-menu {
    display: flex;
    color: $dark-gray;
    justify-content: flex-end;
    font-weight: 500;
    letter-spacing: .5px;
    cursor: pointer;

    &_nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        
        font-size: $nav-font-size;
        
        li {
            height: 100%;
            width: $nav-link-width;
        }
    }

    &_icons {
        display: flex;
        justify-content: space-between;
        font-size: $header-icon-size;
        
        span {
            margin: auto 0;
            width: $header-icon-padding-size;
            height: $header-icon-padding-size;
            position: relative;

            &:nth-child(2) {
                /* Styles for the middle element */
                margin: auto 4.4rem;
             }

            &:hover {
                border-radius: 50%;
                color: $color-black;
                background-color: $light-gray;
            }

            &:last-child {
                .red-dot {
                    background-color: red;
                    position: absolute;
                    right: 12%;
                    bottom: 70%;
                    width: .5rem;
                    height: .5rem;
                    border-radius: 50%;
                }
            }
        }



        
        
    }
}

.nav-link {

    &:hover {
        background-color: $light-gray;
        color: $color-black;
        transition: $transition-ease;
    }
}