@import "/src/components/homepage.scss";

$header-size: 6.5rem;
$nav-font-size: 1.6rem;
$nav-link-width: 12rem;
$header-icon-size: 1.8rem;
$header-icon-padding-size: 4rem;

.header-container {
    border-bottom: 1px solid $border-color;
    height: $header-size;
    margin: 0 $main-margin-ends;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-logo {
    background-color:gray;
    color: $dark-gray;
}

.header-menu {
    display: flex;
    color: $dark-gray;
    justify-content: flex-end;
    font-weight: 500;
    letter-spacing: .5px;

    &_nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        
        font-size: $nav-font-size;
        
        li {
            cursor: pointer;
            height: 100%;
            width: $nav-link-width;
        }
    }

    &_icons {
        display: flex;
        justify-content: space-between;
        font-size: $header-icon-size;
        
        span {
            margin: auto 0;
            border: 2px solid palevioletred;
            border-radius: 50%;
            width: $header-icon-padding-size;
            height: $header-icon-padding-size;

            &:nth-child(2) {
                /* Styles for the middle element */
                margin: auto 5rem;
              }
        }

        
        
    }
}

.nav-link {

    &:hover {
        background-color: $light-gray;
        color: $color-black;
        transition: $transition-ease;
    }
}