$bg-light-color:#ffffff;
$bg-dark-color: #202124;
$border-color: #e6e7ea;

$color-black: #000;
$color-white: #ffffff;
$color-white-gray: #f1f1f1;
$dark-gray: #606469;
$light-gray: #e4e4e4;

$color-font-dark: #3a3939;
$color-font: #2c2c2c;

$primary-font: 'Roboto', sans-serif;


$color-red:#c84139;

$secondary-color: rgb(26, 115, 232);
$secondary-color-dark: rgb(18, 66, 179);
$secondary-color-hover-light: #e3eefc;

$main-margin-ends: 6.7rem;
$margin-small-height: 2rem;
$margin-small-middle-height: 2rem;
$margin-medium-height: 8rem;

$transition-ease: all 0.3s ease;

$toolbar-div-padding: 1.8rem;

$btn-radius: .7rem;

/*helper class*/
.center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-nav-link {
    border-bottom: 2px solid $secondary-color;
    color: $secondary-color;

    &:hover {
        color: $secondary-color-dark;
        background-color: $secondary-color-hover-light;
    }
}
/************/


.light-theme {
    background-color: $bg-light-color;
}

.dark-theme {
    background-color: $bg-dark-color;
}

.homepage {
    margin: 0 $main-margin-ends;
}

.fontcard-container {
    margin-top: $margin-medium-height;
}

p {
    color: $color-font
}


.slider {

    input {
        height: .5rem;
        padding: 0;
        margin: 0;
        background-color: $secondary-color;
        cursor: pointer;
    }

    

    // input::-webkit-slider-runnable-track {
    //     background-color: black; /* Set the desired inner part color */
    // }
}