@import './homepage.scss';

.toolbar-menu {
    border: 0.1rem solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $margin-small-height;
}

.toolbar-search {
    flex: .5;
    border-right: .002rem solid rgba(0, 0, 0, 0.5);
}

.toolbar-font-setting {
    flex: 1;
    display: flex;
}


.setting-text {
    flex: 1;
    border: none;
    border-right: .002rem solid rgba(0, 0, 0, 0.5);
}

.setting-size {
    flex: 1;
}