@import "/src/components/homepage.scss";

$option-menu-gap: .5rem;

.menuoption {
    margin-top: $margin-small-middle-height;
    display: flex;
    align-items: center;
    letter-spacing: .2px;
    color: $dark-gray;
    
    gap: 2.2rem;
}

.dropdown-menu-option {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-weight: 500;
}

.menu-tab {
    position: relative;
}

.dropdown-option-btn {
    color: $dark-gray;
    background-color: $color-white;
    border: 1px solid $light-gray;
    border-radius: 2rem;
    padding: .8rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $option-menu-gap;

    &:hover {
        background-color: $secondary-color-hover-light;
        color: $secondary-color;
    }
}

.dropdown-lbl {
    font-size: 1.5rem;
}

.checkbox-menu-option {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.4rem;
}

.checkbox-option {
    display: flex;
    gap: .8rem;
    align-items: center;
}

.info-icon {
    display: flex;
    align-items: center;
    color: $color-font-dark;
    font-size: 2rem;
    font-weight: 600;
}

.number-of-style-box {
        font-size: 1.4rem;
        padding: 1rem 1rem 1.4rem 1.4rem;

        p{
            padding: 0;
        }
}

.style-setting {
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    
}

.style-setting-checkbox {
    display: flex;
    cursor: pointer;
    gap: 0rem;
    
}

.checkbox-circle {
    background-color:rgba($secondary-color, 25%);
    padding: .8rem;
    border-radius: 50%;
    cursor: pointer;

    input {
        cursor: pointer;
    }

}

.style-setting-slider {
    input {
        width: 10rem;
    }
    
}

.style-reset-btn {
   width: fit-content;
   font-family: 'Roboto', 'sans-serif';
   color: $secondary-color;
   font-weight: 500;
   float: right;
   margin-top: 2rem;
   padding: .8rem 1.5rem;
   font-size: 1.45rem;
   border: none;
   background-color: transparent;
   cursor: pointer;
   border-radius: .7rem;

}

.style-reset-btn:hover {
    background-color:rgba($secondary-color, 6%);
    color: $secondary-color-dark;
}