@import '/src/components/homepage.scss';


.font-setting-size {
    border-left: 1px solid $border-color;
    flex: 1;
    background-color: orangered;
}
.dropdown-content {
    position: absolute;
    background-color: yellow;
}