@import "/src/components/homepage.scss";

$dropdown-fontsize: 1.56rem;

.dropdown-content {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: .9rem;
    background-color: $color-white;
    text-align: left;
    font-size: $dropdown-fontsize;
    padding: 1rem 0;
    transition: $transition-ease;


    &_item {
        cursor: pointer;
        transition: $transition-ease;

        &:hover {
            background-color: $color-white-gray;
        }
    }

    p {
        font-family: $primary-font;
        font-weight: 400;
        color: $color-font-dark;
        margin: 0;
        margin-right: .4rem;
        padding: 1.4rem 0 1.4rem 1.2rem;
    }
}

.arrow-down {
    color: $secondary-color;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}
.arrow-up {
    transform: rotate(180deg);
}

.dropdown-sentence {
    top: 4.8rem;
    width: 10.5rem; 
}

.dropdown-fontsize {
    top: 3.8rem;
    width: 8rem;
    max-height: 15rem;
    overflow: hidden;
    font-size: 1.5rem;
    overflow-y: scroll;
}

.dropdown-category {
    width: 15rem;
    top: 5rem;
}

.dropdown-lang {
    width: 20rem;
    top: 5rem;
    max-height: 18rem;
    overflow-y: scroll;
}

.dropdown-style {
    width: 20rem;
    top: 5rem;
}

